<!-- add-editorial-dialog.component.html -->
<h2 mat-dialog-title>Agregar Autor/es</h2>
<mat-dialog-content>
    <form [formGroup]="authorForm">
        <mat-form-field>
            <input matInput placeholder="Nombre/s" formControlName="name">
            <mat-error *ngIf="authorForm.controls['name'].hasError('required')">Este campo es <strong>requerido</strong></mat-error>
        </mat-form-field>
    </form>
    <mat-dialog-actions>
        <button mat-button (click)="cancel()">Cancelar</button> 
            <button mat-button color="primary" (click)="save()">Guardar</button>  
    </mat-dialog-actions>
</mat-dialog-content>

