<!-- add-editorial-dialog.component.html -->
<h2 mat-dialog-title>Agregar Autor</h2>
<mat-dialog-content>
    <form [formGroup]="authorForm">
        <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Apellido" formControlName="last_name">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button> 
        <button mat-button color="primary" (click)="save()">Guardar</button>  
</mat-dialog-actions>
