<h1 mat-dialog-title>Editar Beneficiario</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm">
    <!-- Agrega los campos de edición aquí -->
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name" />
      <mat-error *ngIf="editForm.controls['name'].hasError('required')">Este campo es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido" formControlName="last_name" />
      <mat-error *ngIf="editForm.controls['last_name'].hasError('required')">Este campo es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telefono" formControlName="phone" />
      <mat-error *ngIf="editForm.controls['phone'].hasError('required')">Este campo es <strong>requerido</strong></mat-error>

    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Direccion" formControlName="address" />
      <mat-error *ngIf="editForm.controls['address'].hasError('required')">Este campo es <strong>requerido</strong></mat-error>

    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Documento de identidad" formControlName="dni" />
      <mat-error *ngIf="editForm.controls['dni'].hasError('required')">Este campo es <strong>requerido</strong></mat-error>

    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="birthdate"
        [max]="minDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="editForm.controls['birthdate'].hasError('required')">Este campo es <strong>requerido</strong></mat-error>

    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button color="primary" (click)="onSaveClick()">Guardar</button>
  </div>
</div>
